label {
    display: block;
    font-size: 1em;
}

input[type="textbox"], input[type="password"], input[type="email"] {
    display: block;
    outline: none;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;

    border: 1px solid gray;
    border-radius: 3px;
}

input[type="textbox"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid lightgray;
}


input[type="button"], input[type="submit"] {
    outline: none;
    padding: 8px;
    margin: 8px 8px 8px 0px;
    width: 100px;
    height: 30px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #FFFFFF inset;
}

.button-blue {
    color: #FFFFFF;
    background: #1961AD;
    border: transparent;
    border-radius: 3px;
}

.button-blue:hover {
    background: #16579B;
}

.button-green {
    color: #FFFFFF;
    background: #269900;
    border: transparent;
    border-radius: 3px;
}

.button-green:hover {
    background: #228900;
}

.button-red {
    color: #FFFFFF;
    background: #CD5C5C;
    border: transparent;
    border-radius: 3px;
}

.button-red:hover {
    background: #B85353;
}

input:disabled, input[disabled] {
    background: lightgray !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    margin: 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown p:hover {
		cursor: pointer;
		background-color: #ddd;
}