@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

html, body {
	font-family: Open Sans, sans-serif;
	overflow-x: hidden;
	font-weight: 300;
	background: #FFFFFF;
}

.container {
	padding: 30px;
	width: 50%;
	margin: auto;
	margin-bottom: 100px;

	background: #FFFFFF;
	-webkit-box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 1000px) {
	.container {
		padding: 30px;
		width: 95%;
		margin: auto;
		margin-bottom: 100px;
	}
}

h1, h2, h3, h4 {
	color: #CD5C5C;
}

.head h1 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.container p {
	color: gray;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;

	-webkit-box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 45px 0px rgba(0,0,0,0.1);
}

footer p {
	color: gray;
	font-size: 12px;
	margin: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:not(:first-child):hover {
	cursor: pointer;
	background-color: #ddd;
}

table tr:first-child {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #CD5C5C;
	color: white;
}

code {
	background: #F3F3F3;
	padding: 3px;
}

a {
	color: dodgerblue;
	text-decoration: none;
}

a:hover {
	color: gray;
}

.access-text {
	color: green;
}

.error-text {
	color: red;
}